* {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: rgb(81, 98, 180);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  /*background-image: url("./Template.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;*/
  display: flex;
  align-items: center;
  background: grey;
  overflow-x: hidden;

}

.container {
  width: 100%;
  background: rgb(232,234,245);
  background: linear-gradient(rgba(232,234,245,1) 0%, rgba(255,255,255,1) 100%);
  display: flex;
  justify-content: center;
  
}

.flex-wrap {
  padding: 90px 0;
  height: 100%;
  max-width: 2000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;


}

#section-1 {
  margin-top: 60px;
  margin-bottom: 20px;
  width: 40%;
  min-width: 900px;
  max-width: 1500px;
  padding: 10px;
  padding-right:80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

#section-2 {
  height: 750px;
  
  min-width: 900px;
  max-width: 1500px;
  display: flex;
  justify-content: center;
  column-gap:40px;
}

.column-1, .column-2 {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.column-2 {
  margin-top: 30px;
}


.tag {
  text-transform: uppercase;
  font-size: 20px;

}

.title-dark {
  color: rgb(46, 56, 133);
}

.title-large {
  font-size: 70px;
  font-weight: 400;
  line-height: 80px;
  margin: 10px 0;
}
.paragraph-large {
  margin: 15px 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
}
.title-small {
  font-size: 30px;
  font-weight: 900;
  margin: 10px 0;
  line-height: 50px;
}
.paragraph-small {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}

.blue {
  color: rgb(40, 77, 248);
  font-weight: inherit  ;
}

button {
  width: 120px;
  height: 60px;
  background-color: rgb(255, 170, 65);
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  border: none;
  border-radius: 6px;
  border: rgb(255, 170, 65) solid 1px;
  cursor: pointer;
  margin: 15px 0;
}

button:hover {
  background-color: rgb(255, 173, 22);
}

button:active {
  background-color: white;
  color: rgb(254, 159, 39);
}

.box {
  border: 1px rgb(220, 220, 220) solid;
  background-color: white;
  border-radius: 5px;
  width: 420px;
  height: 340px;
  padding: 40px;
}

.icon-wrap {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

i {
  color: inherit;
  font-size: 25px;
}

#blue-icon {
  background-color: rgb(179, 218, 249);
  color: rgb(29, 128, 221);
}
#green-icon {
  background-color: rgb(193, 226, 195);
  color: rgb(62, 149, 69);
}
#orange-icon {
  background-color: rgb(255, 247, 192);
  color: rgb(247, 156, 50);
}
#purple-icon {
  background-color: rgb(220, 183, 226);
  color: rgb(129, 39, 157);
}



@media screen and (max-width: 1080px) {
  .container {

    height: 100%;
    max-height: none;
    min-height: 1000px;
  }
  
  #section-1 {
    padding: 20px;
    width: 100vw;
    min-width: 0px;

  }
  #section-2 {
    display: none;
  }
}



@media screen and (max-width: 500px) {
  .title-large {
    font-size: 40px;
    line-height: 50px;
  }
}